* {
	width: 100%;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	position: relative;
	margin: 0 auto;
	width: 400px;
	height: 100%;
	background-color: rgb(54, 50, 77);
}

body {
	width: 100%;
	height: min-content;
	padding: 25px;
}

h1 {
	font-weight: 400;
	color: white;
	margin-bottom: 15px;
}

label {
	width: max-content;
	color: #e5cfff;
	font-size: 15px;
	margin-bottom: 8px;
	white-space: nowrap;
	margin-right: 15px;
}

.field-container {
	display: flex;
	margin-bottom: 15px;
}
