.ludo-captions__line::after {
	content: attr(data-translation);
	display: inline-block;
	position: relative;
	left: 10px;
	padding: 0 0.3em;
	margin: 0.05em 0;
	line-height: 1.4;
	background-color: black;
	-webkit-border-radius: 0.15em;
	border-radius: 0.15em;
	opacity: 0.3;
}

.ludo-captions__line[hide-translation='true']::after {
	content: '' !important;
}
